@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
overflow-x:hidden;
font-family: 'Roboto slab', serif;
}

#unicef{
width: 100%;
height: 100%;
object-fit: cover;
position: fixed;
z-index: -1;
right: 0;
}

.navbar{
    background-color: #00ADEF;
    position: fixed;
    padding: 10px;
    width: 100%;
    right: 0;
    top: 0;
}

.navbar img{
    width: 40vw;
}

#buttons a{
    text-decoration: none;
    color:white;  
}

#buttons{
    float: right;
    padding: 10px;
}

a:hover{
    transition: .4s;
    font-size: larger;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    margin-top: 14vw;
}

.opening{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #152a57 0%,
    #3884ca 29%,
    #ff6a13 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 5vw;
} /*code taken from https://alvarotrigo.com/blog/css-text-animations/ */

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.background h1{
    color:rgb(32, 192, 255);
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 8vw;
    font-size: 5vw;
    text-align: left;
    text-shadow: 
            2px 1px 0 black,
            2px -1px 0 black,
            2px 1px 0 black,
            2px -1px 0 black;
}

.background h3{
    color:rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 1.5vw;
    text-align: left;
    text-shadow: 
            2px 1px 0 black,
            2px -1px 0 black,
            2px 1px 0 black,
            2px -1px 0 black;
}

.achievements h1{
    color:rgb(32, 192, 255);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    padding-top: 8vw;
    font-size: 5vw;
    text-align: right;
    text-shadow: 
            2px 1px 0 black,
            2px -1px 0 black,
            2px 1px 0 black,
            2px -1px 0 black;
}

.achievements h3{
    color:rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 1.5vw;
    text-align: right;
    text-shadow: 
            2px 1px 0 black,
            2px -1px 0 black,
            2px 1px 0 black,
            2px -1px 0 black;
}

footer{
    background-color: #00ADEF;
    bottom: 0px;
}

.donor a{
    text-decoration: none;
    color: #FF7300; 
}

.donor{
    float: left;
    margin: 2vw;
    background-color: white;
    padding: 1.5vw;
    width: 11vw;
    border-radius: 5%;
    display: inline;
}

.links{
    background: url(../media/rcsprite.png)no-repeat;
    width: 66px;
    height: 66px;
    display: inline;
    float: right;
}

#ig{
    background-position: -290px -221px;
}

#fb{
    background-position: -439px -146px;
}

#yt{
    background-position: -439px -221px;
}

#twt{
    background-position: -66px -72px;
}

.initiatives h1{
    padding-top: 8vw;
    font-size: 5vw;
    text-align: center;
}

.icontent{
    text-align: center;
    display: inline;
}

.icontent h3{
    margin-left: 200px;
    margin-right: 200px;
    color: #FF7300;
}

.involvements h1{
    padding-top: 8vw;
    font-size: 5vw;
    text-align: center;
}

.involvements{
    padding-bottom: 1.5vw;
    text-align: center;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,161,107,1) 0%, rgba(0,212,255,1) 100%);
}

#images img{
    width: 40vw;
    padding: 1.5vw;
    display: inline;
}

#learningpass{
    float: left;
    width: 40vw;
    margin-left: 90px;
    display: inline;
}

#akelius{
    float: right;
    width: 30vw;
    margin-right: 150px;
    display: inline;
}

.activities h1{
    padding-top: 8vw;
    font-size: 5vw;
    text-align: center;
}

.gaza{
    text-align: center;
    width: 100%;
}

.gaza img{
    width: 40vw;
    padding-top: 1.5vw;
}

.gaza h2{
    width: 39vw;
    font-size: 2vw;
    text-align: center;
    padding-left: 29vw;
}

.sudan{
    text-align: center;
    width: 100%;
}

.sudan img{
    width: 40vw;
    padding-top: 1.5vw;
}

.sudan h2{
    width: 39vw;
    font-size: 2vw;
    text-align: center;
    padding-left: 29vw;
}

.zambia{
    text-align: center;
    width: 100%;
}

.zambia img{
    width: 40vw;
    padding-top: 1.5vw;
}

.zambia h2{
    width: 39vw;
    font-size: 2vw;
    text-align: center;
    padding-left: 29vw;
}

.who{
    margin-top: 10vw;
    text-align: justify;
    width: 60vw;
    margin-left: 20vw;
    transform: translateY(5vw);
    color: white;
}

.mission{
    margin-top: 10vw;
    text-align: justify;
    width: 60vw;
    margin-left: 20vw;
    color:white;
}


.vision{
    margin-top: 10vw;
    text-align: justify;
    width: 60vw;
    margin-left: 20vw;
    color:white;
}


.work{
    margin-top: 10vw;
    text-align: justify;
    width: 60vw;
    margin-left: 20vw;
    color: white;
}

.work a{
    text-decoration: none;
    color:white;
}


.bg{

    background: linear-gradient(111deg, #00a3ff, #dd8100);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }




